{% extends 'layout.html' %}
{% block content %}

<!-- <a href="{% url 'home'  %}"  ><h3> << Vissza </h3></a> -->

<h1 >{{ product.title }}</h1>

<img  src="{{ product.image.url}}"  />
<p>Ár: {{product.price}} Ft</p>
<p>Leírás: {{product.desc}}</p>
<p >Dátum: {{product.pub_date_mod}}</p>


{% endblock %}
