<h1>Termékek</h1>

{% for product in products.all %}

<a href="{% url 'detail' product.id %}"  ><h3>{{product.title}}</h3></a>
<br>
Dátum: {{product.pub_date_mod}}
<br>
<img src="{{ product.image.url}}"  width=200 />
<br>
<p>Ár: {{product.price}} Ft</p>
{% endfor %}
